@import "_variables.pcss";

:root {
	line-height: 1.5;
	font-family: var(--font-sans);
	font-size: 16px;
}

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

body {
	margin: 0;
	padding: 0;
}

section, article {
	padding: 0 1rem;
}

h1, h2, h3, h4, p, ul, ol, .text {
	opacity: var(--opacity-primary);
}

h1, h2, h3, h4 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	line-height: 1.1;
	font-weight: normal;
}

h1 {
	font-size: 2.5rem
}

h2 {
	font-size: 2rem
}

h3 {
	font-size: 1.75rem
}

h4 {
	font-size: 1.5rem
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
	text-align: justify;
	orphans: 3;
	widows: 3;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: var(--primary);
	&:hover {
		text-decoration: underline;
	}
}

.secondary {
	opacity: var(--opacity-secondary);
}

.disable {
	pointer-events: none;
	opacity: var(--opacity-disable);
}

.accent {
	opacity: var(--opacity-primary);
	color: var(--accent);
}

.button-box {
	text-align: right;
}