:root {
	--primary: #fb8c00;
	--primary-light: color(var(--primary) tint(15%));
	--primary-dark: color(var(--primary) shade(15%));
	--accent: #2962ff;
	--error: red;
	--opacity-primary: 0.87;
	--opacity-secondary: 0.54;
	--opacity-disable: 0.38;
	--opacity-border: 0.12;
	--text-primary: #000;
	--font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@custom-media --mobile screen and (max-device-width: 1000px);

@custom-media --desktop screen and (min-device-width: 1001px);
