<template>
	<div class="app">
		<md-toolbar class="md-medium">
			<md-button class="md-icon-button" v-if="user && user.perms" @click="logout">
				<md-icon>exit_to_app</md-icon>
			</md-button>
			<h2 class="md-title">Клуб ММКЦ: теги</h2>
			<md-button class="md-icon-button send-mobile" v-if="csv.length" @click="updateFilesInCMS">
				<md-icon>send</md-icon>
			</md-button>
		</md-toolbar>
		<div v-if="user && user.perms">
			<md-button class="md-fab" @click="openDialog">
				<md-icon>folder_open</md-icon>
			</md-button>
			<md-button class="md-accent" @click="openDialog">
				Загрузить CSV
			</md-button>
			<md-button class="md-accent" @click="updateFilesInCMS" :disabled="!csv.length">
				Обновить на сайте
			</md-button>
			<input ref="dialog" type="file" style="display: none" @change="readFile">
			<md-list class="md-triple-line">
				<md-list-item v-for="row in csv" :key="row.id">
					<md-icon :class="[ 'md-size-2x', errors[row.id] ? 'error' : '' ]">{{updateIcon(row.id)}}</md-icon>
					<div>
						<a :href="row.url">{{row.title || row.url}}</a>
						<div>
							<md-chip v-for="(tag, index) in row.tags" :key="`tag-${index}`" class="md-primary">{{tag}}</md-chip>
						</div>
						<div v-html="row.description"></div>
					</div>
				</md-list-item>
			</md-list>
		</div>
		<section v-if="!user || !user.perms">
			<wh-login></wh-login>
		</section>
		<div ref="loader" class="loader">
			<md-spinner :md-size="150" md-indeterminate></md-spinner>
		</div>
	</div>
</template>
<style lang="postcss" scoped>
	@import "../pcss/tory/_variables.pcss";

	.md-toolbar {
		color: white;
		& h2 {
			flex: 1 0 auto;
		}
	}

	.md-button.md-fab {
		@media (--desktop) {
			display: none;
			transform: translateY(-50%);
			margin-top: 0;
			margin-bottom: 0;
		} @media (--mobile) {
		position: absolute;
		bottom: 1rem;
		right: 1rem;
	}
	}

	.md-button.md-accent {
		@media (--mobile) {
			display: none;
			position: absolute;
			bottom: 1rem;
			right: 1rem;
		}
	}

	.md-list:empty::before {
		padding: 1rem;
		content: 'Формат CSV: url, title, description, tags через запятую. Создать можно сохранением Excel-таблицы в CSV-формате с разделителем полей «;». Файл должен быть в кодировке UTF-8.';
	}

	.md-list-item {
		& .md-icon {
			color: var(--accent);
			&.error {
				color: var(--error);
			}
		}
	}

	.send-mobile {
		@media (--desktop) {
			display: none;
		}
	}

	.loader {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(255, 255, 255, var(--opacity-disable));
		display: none;
		z-index: 1;
		&.active {
			display: flex;
		}
		& > * {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
</style>
<script>
	import whLogin from "./wh-login.vue";
	import {mapState} from 'vuex';
	import config from "../package.json";
	import ajax from "../es6/wh-ajax.es6";
	import CSV from "../es6/wh-csv.es6";

	export default {
		data: function () {
			return {
				csv: [],
				errors: {},
				success: {}
			};
		},
		components: {whLogin: whLogin},
		computed: {
			...mapState({user: state => state.user.me}),
			version() {
				return config.version;
			}
		},
		created: function () {
			document.addEventListener('loading', _ => this.$refs.loader.classList.add('active'));
			document.addEventListener('loaded', _ => this.$refs.loader.classList.remove('active'));
		},
		methods: {
			logout() {
				window.localStorage.setItem('login', '');
				this.$store.dispatch('logout');
				this.clearCSV();
			},
			openDialog() {
				this.$refs.dialog.click();
			},
			clearCSV() {
				this.csv = [];
				this.errors = {};
				this.success = {};
			},
			readFile(e) {
				document.dispatchEvent(new Event('loading'));
				let file = e.target.files[0];
				let reader = new FileReader();
				reader.addEventListener('load', ev => {
					e.target.value = "";
					this.parseFile(ev.target.result);
				});
				reader.readAsText(file);
			},
			parseFile(text) {
				this.clearCSV();
				let csvFile = new CSV(text);
				this.csv = csvFile.csv;
				document.dispatchEvent(new Event('loaded'));
			},
			async updateFilesInCMS() {
				let body = new FormData();
				body.append("files", JSON.stringify(this.csv));
				let response = await ajax({
					url: 'update',
					body
				});
				this.errors = [];
				this.success = [];
				for (let error of response.errors)
					this.errors[parseInt(error)] = 1;
				for (let success of response.success)
					this.success[parseInt(success)] = 1;
			},
			updateIcon(id) {
				return this.errors[id] ? 'error' : this.success[id] ? 'check_circle' : '';
			},
		},
	};
</script>