<template>
	<main>
		<form v-if="!autoLogin" @submit.stop.prevent="submit($event.target)">
			<md-input-container>
				<label>Имя</label>
				<md-input type="text" name="login"></md-input>
			</md-input-container>
			<md-input-container>
				<label>Пароль</label>
				<md-input type="password" name="password"></md-input>
			</md-input-container>
			<md-checkbox id="remember" class="md-primary">Запомнить</md-checkbox>
			<div class="button-box">
				<md-button type="submit" class="md-primary">Войти</md-button>
			</div>
		</form>
		<md-snackbar md-position="bottom center" ref="snack" md-duration="10000">
			<span>Неправильные логин или пароль</span>
		</md-snackbar>
	</main>
</template>
<style lang="postcss" scoped>
	@import "../pcss/tory/_variables.pcss";

	form {
		max-width: 600px;
		margin: auto;
		padding-top: 25vh;
		@media (--mobile) {
			height: 100%;
			padding-top: 33%;
			max-width: unset;
		}
	}
</style>
<script>
	import {mapState} from 'vuex';

	export default {
		data: function () {
			return {
				autoLogin: true
			};
		},
		mounted: async function () {
			let user = await this.$store.dispatch({type: 'login'});
			if (!user) {
				const getCredentials = async _ => Promise.resolve(window.localStorage.getItem('login'))
					.then(credentials => JSON.parse(credentials))
					.catch(e => null);
				let credentials = await getCredentials();
				if (credentials)
					user = await this.$store.dispatch({type: 'login', body: credentials});
				if (!user)
					this.autoLogin = false;
			}
		},
		methods: {
			async submit(form) {
				let user = await this.$store.dispatch({type: 'login', body: new FormData(form)});
				if (!user)
					this.$refs.snack.open();
				else if (form.remember.checked) {
					let credentials = {login: form.login.value, password: form.password.value};
					window.localStorage.setItem('login', JSON.stringify(credentials));
				}
			},
		}
	};
</script>